	html, body {
	  margin: 0;
	  /* remove default margin */
	  padding: 0;
	  /* remove default padding */
	  width: 100%;
	  /* take full browser width */
	  height: 100%;
	  background-color: #f6bd60;
	}

	.screen {
	  font-size: 0.5em;
	  margin: 0;
	  left: 0;
	  top: 0;
	}

	.screen .main {
	  width: 100%;
	  height: 100%;
	}

	body {
	  margin: 0px;
	  padding: 0px;
	  font-size: 12pt;
	  font-weight: 200;
	}

	h1, h2, h3 {
	  margin: 0;
	  padding: 0;
	}

	p, ol, ul {
	  margin-top: 0;
	}

	ol, ul {
	  padding: 0;
	  list-style: none;
	}

	p {
	  line-height: 180%;
	  color: #40476D;
	  font-size: 20px;
	  font-weight: 600;
	}

	a {
	  color: #ee0000;
	}

	a:hover {
	  text-decoration: none;
	}

	.container {
	  overflow: hidden;
	  width: 100%;
	  text-align: center;
	}

	.title {
	  margin-bottom: 1.5em;
	}

	.title h2 {
	  padding-top: 10px;
	  font-size: 30px;
	  text-align: center;
	  color: #40476D;
	  font-weight: 600;
	}

	.title .byline {
	  font-size: 20px;
	  color: #40476D;
	}

	.context {
	  margin-bottom: 120px;
	}

	.Transcript p {
	  font-size: 18px;
	}

	.Transcript q {
	  font-size: 20px;
	  font-style: italic;
	  text-align: left;
	  color: #40476D;
	  font-weight: bold;
	}

	.btn {
	  background-color: #40476D;
	  border: none;
	  color: #f6bd60;
	  padding: 12px 30px;
	  cursor: pointer;
	  font-size: 20px;
	  margin-bottom: 100px;
	}

	.btn:hover {
	  background-color: RoyalBlue;
	}

	figure {
	  padding-left: 20px;
	  padding-right: 20px;
	}

	img {
	  max-width: 80%;
	  height: auto;
	}

	figcaption {
	  background-color: #40476D;
	  color: #f6bd60;
	  font-size: 25px;
	  margin-bottom: 100px;
	  text-align: left;
	}

	p {
	  text-align: left;
	  padding-left: 40px;
	  padding-right: 20px;
	  padding-top: 15px;
	  padding-bottom: 15px;
	}

	audio_box {
	  margin-top: auto;
	  margin-bottom: auto;
	  width: 100%;
	}

	#wrapper {
	  position: relative;
	  background-color: #f6bd60;
	  width: 100%;
	  margin-right: 20px;
	}

	#header-wrapper {
	  position: relative;
	  background-color: #40476D;
	}

	#banner {
	  padding-top: 20px;
	  ;
	  text-align: center;
	}

	#banner .title h2 {
	  font-size: 35px;
	  color: #f6bd60;
	}

	#banner .title {
	  font-size: 2em;
	}

	.fixed-footer {
	  width: 100%;
	  position: fixed;
	  background-color: #40476D;
	  padding: 10px 0;
	  color: #f6bd60;
	}

	.fixed-footer {
	  bottom: 0;
	}

	a {
	  text-decoration: none;
	  text-transform: uppercase;
	  font-weight: bold;
	  color: #c29429;
	}

	a:hover {
	  font-weight: bold;
	  background-color: green;
	  color: white;
	  opacity: 0.5;
	}

	nav {
		display: flex;
	  background: #40476D;
	  padding: 0 15px;
	}

	a {
	  color: #f6bd60;
	  text-decoration: none;
	}

	* {
	  box-sizing: border-box;
	  padding: 0;
	  margin: 0;
	}

	.menu {
	  list-style-type: none;
	}

	.logo {
	  font-size: 20px;
	  padding: 7.5px 10px 7.5px 0;
	}

	.item {
	  padding: 10px;
	}

	.item.button {
	  padding: 9px 5px;
	}

	.item:not(.button) a:hover,
	.item a:hover::after {
	  color: #ccc;
	}

	/* Mobile menu */
	.menu {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
	  align-items: center;
	}

	.menu li a {
	  display: block;
	  padding: 15px 5px;
	}

	.item {
	  order: 3;
	  width: 100%;
	  text-align: center;
	  display: none;
	}


	@media all and (min-width: 300px) {
		.menu {
		  display: flex;
		  flex-wrap: wrap;
		  justify-content: space-between;
		  align-items: center;
		}

		.menu li a {
		  display: block;
		}

		.item {
		  order: 3;
		  width: 100%;
		  text-align: center;
		  display: flex;
		}
	}
	/* Tablet menu */
	@media all and (min-width: 768px) and (max-width: 1024px) {
	  .menu {
	    justify-content: center;
	  }

	  .logo {
	    flex: 1;
	  }

	  .item {
	    width: auto;
	    order: 1;
	    display: block;
	  }

	  .menu li {
	    padding: 10px 15px;
	    margin: 5px 0;
	  }
	}

	/* Desktop menu */
	@media all and (min-width: 1024px) {
	  .menu {
	    align-items:flex-start;
	    flex-wrap: nowrap;
	    background: none;
	  }

	  .logo {
	    order: 0;
	  }

	  .item {
	    order: 1;
	    position: relative;
	    display: block;
	    width: auto;
			margin-left: 80px;
	  }
	}
